@model FlightsManager.Models.Reservation.ReservationCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Reservation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.PassangerCount; i++)
            {
                <div>
                    <label asp-for="Reservations[i].FirstName" class="control-label"></label>
                    <input asp-for="Reservations[i].FirstName" class="form-control" />
                    <span asp-validation-for="Reservations[i].FirstName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].MiddleName" class="control-label"></label>
                    <input asp-for="Reservations[i].MiddleName" class="form-control" />
                    <span asp-validation-for="Reservations[i].MiddleName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].LastName" class="control-label"></label>
                    <input asp-for="Reservations[i].LastName" class="form-control" />
                    <span asp-validation-for="Reservations[i].LastName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].Nationality" class="control-label"></label>
                    <input asp-for="Reservations[i].Nationality" class="form-control" />
                    <span asp-validation-for="Reservations[i].Nationality" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].PIN" class="control-label"></label>
                    <input asp-for="Reservations[i].PIN" class="form-control" />
                    <span asp-validation-for="Reservations[i].PIN" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].Email" class="control-label"></label>
                    <input asp-for="Reservations[i].Email" class="form-control" />
                    <span asp-validation-for="Reservations[i].Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].TelephoneNumber" class="control-label"></label>
                    <input asp-for="Reservations[i].TelephoneNumber" class="form-control" />
                    <span asp-validation-for="Reservations[i].TelephoneNumber" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Reservations[i].TicketType" class="control-label"></label>
                    <select asp-for="Reservations[i].TicketType">
                        <option value="Ordinary">Ordinary</option>
                        <option value="Business">Business</option>
                    </select>
                </div>
            }

            <div>
                <label asp-for="Flight" class="control-label"></label>
                <select asp-for="Flight" class="form-control">
                    @foreach (var item in Model.Flights)
                    {
                        <option value="@item.AirplaneID">@item.ToString()</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">BackToList</a>
</div>